.cost {
  color: green;
  position: relative;
}

.titulo {
  font-size: medium;
  color: black;
}

.container a {
  color: #07641a;
  text-decoration: none;
}

a:link,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
}
