
img{
    
    float: left;
    left: 100px;
    width: 200px;
    margin-right: 1px;    
}

.cost{
    color: green;
    position: relative;

}

.titulo{
    font-size: medium;
    color: black;
}

/* .itemcount{
    align-items: center;
    align-content: center;
    position: relative;
} */