.cart-image{
    height: 180px;
    width: 180px;
   
}

.cart-name{
    margin-left: 10px;
    margin-top: 15px;    
    margin-bottom: 20px;
    
}

.cart-quantity{
    margin-left: 5px;
}

.cart-cost{
    margin-left: 5px;
    
}

.cart-subtotal{
    margin-left: 5px;
    
}

.container{
    vertical-align: bottom;
    display: flex;
    margin-left: 280px;
    margin-bottom: 20px;
}

.cost{
    vertical-align: top;
}




