
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'calibri';
}

header {
  background: gray;
  width: 100%;
  clear: both;
  content:'';
  display: table;
}

.menu {
  width: 900px;
  margin: 0 auto;
}

img {
  width: 120px;
  height: 50px;
  float: left;
  padding: 8px;

}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 12px 0;
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: #444;
  height: 5px;
  top:0;
  position: absolute;
  
}

nav ul li a:hover::before {
  width: 100%;
}

.item-list{
  justify-content: center;
  height: 80px;
  width: auto;
  
}

.container-item{
  float: left;
  justify-content: space-between;
  padding: 20px 30px 40px 20px;
}

.titulo{
  color: #817e7e;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 10px;
  text-shadow: 1px 2px 2px;
}

.container-user{
  padding: 5px 5px 5px;
  margin-left: 10px;
}